*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.header-sec{
    background: url(./assets/images/banner-image.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.navbar{
    padding-bottom: 400px;
}

.welcome .img{
    padding-left: 60px;
}

.welcome-text{
    padding-right: 200px;
}

.food-menu{
    background: url(./assets/images/food-bg.png) no-repeat top right;
}

.reservation{
    background: url(./assets/images/reservation-bg.jpg) no-repeat center center;
    background-size: cover;
}

.table-reservation{
    background: rgba(1, 7, 16, 0.7);
}

/* ---------------------About page css-------------- */
.header-about{
    background: rgba(1, 7, 16, 0.7);
    height: 80vh;
}

.navbar{
    padding-bottom: 200px;
}

/* ---------------------About page css-------------- */

@media screen and (max-width:768px) {
    .navbar{
        padding-bottom: 100px;
    }
   .header-sec{
       height: 80vh;
   }
   .welcome .img {
    padding-left: 0px;
    }
    .welcome-text {
        padding: 30px;
        /* padding-right: 0px; */
    }
}